<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href ='/resources/css/styles.css'>
</head>

<body>
    {>navigation /}
    <h1 class=mainWelcoming>Welcome to Whack-A-Tweet!</h1>
    <p class=pageInstructions>Simply login to Twitter via the "Login" link at the top of the page and then navigate to the "How to Play" tab to learn how to play.</p>
</body>

</html>
