html {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    background: url("/resources/images/Molestart.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    grid-row-start: 1;
    grid-row-end: 21;
    grid-column-start: 1;
    grid-column-end: 21;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

nav {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 20;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

h1 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 21;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}

#tweets {
    grid-row-start: 7;
    grid-row-end: 19;
    grid-column-start: 2;
    grid-column-end: 21;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
}

#tweets > button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    outline: none;
    position: relative;
    text-align: center;
}
#tweets > button:nth-child(1) {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 9;
    grid-column-end: 13;
}

#tweets button:nth-child(2) {
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 15;
    grid-column-end: 18;
}

#tweets button:nth-child(3) {
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 3;
    grid-column-end: 9;
}

#tweets button:nth-child(4) {
    grid-row-start: 15;
    grid-row-end: 19;
    grid-column-start: 8;
    grid-column-end: 14;
}

.pageInstructions {
    font-size: 18pt;
    text-align: center;
    border: medium solid black;
    padding: 5px 0px 10px 0px;
    margin: 0;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    background-color: lemonchiffon;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 6;
    grid-column-end: 16;
}

.mainWelcoming {
    font-size: 34pt;
    color: lemonchiffon;
}

.gameInstructions {
    font-size: 18pt;
    text-align: center;
    border: medium solid black;
    padding: 10px 10px 10px 10px;
    margin: 0;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    background-color: lemonchiffon;
    grid-row-start: 5;
    grid-row-end: 9;
    grid-column-start: 6;
    grid-column-end: 16;
}